
@{
    ViewBag.Title = "LookUp";
}

<h2>LookUp</h2>

<div class="row">
    <div class="col-xs-6">
        <h2>Search by Department</h2>
        <div class="form-group">
            <label>Department</label>
            <input type="text" id="departmentID" class="form-control" />
        </div>
        <button class="btn btn-primary" onclick="find()">Search</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <br /><br />
        <p id="dptEmp" />
    </div>
</div>
@section Scripts
{
    <script>
        var uri = '/api/EmployeeDirectory/';

        function find() {
            var id = $('#departmentID').val();

            $.getJSON(uri + id)
                .done(function(data) {
                    $('#dptEmp').text(data.FirstName + data.LastName);
                })
                .fail(function(jqXhr, status, err) {
                    $('#dptEmp').text('Error: ' + err);
                });
        }
    </script>
}