USE [master]
GO
/****** Object:  Database [SWCCorp]    Script Date: 8/23/15 11:56:24 AM ******/
CREATE DATABASE [SWCCorp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SWCCorp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SWCCorp.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SWCCorp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SWCCorp_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SWCCorp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SWCCorp]
GO
/****** Object:  Table [dbo].[CurrentProducts]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CurrentProducts](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[RetailPrice] [money] NULL,
	[OriginationDate] [datetime] NULL,
	[ToBeDeleted] [bit] NULL,
	[Category] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpID] [int] IDENTITY(15,1) NOT NULL,
	[LastName] [varchar](30) NULL,
	[FirstName] [varchar](20) NULL,
	[HireDate] [datetime] NULL,
	[LocationID] [int] NULL,
	[ManagerID] [int] NULL,
	[Status] [char](12) NULL,
	[DepartmentID] [int] NOT NULL CONSTRAINT [DF_Employee_DepartmentID]  DEFAULT ((1)),
 CONSTRAINT [PK__Employee__AF2DBA79D918C347] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntryType]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntryType](
	[EntryTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EntryTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EntryType] PRIMARY KEY CLUSTERED 
(
	[EntryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Grant]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Grant](
	[GrantID] [char](3) NOT NULL,
	[GrantName] [nvarchar](50) NOT NULL,
	[EmpID] [int] NULL,
	[Amount] [smallmoney] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] NOT NULL,
	[Street] [varchar](30) NULL,
	[City] [varchar](20) NULL,
	[State] [char](2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MgmtTraining]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MgmtTraining](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](50) NOT NULL,
	[ClassDurationHours] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaidTimeOff]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaidTimeOff](
	[PtoRequestID] [int] IDENTITY(1,1) NOT NULL,
	[ptoStatus] [varchar](20) NOT NULL,
	[EmpID] [int] NOT NULL,
	[HoursRequested] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[ReasonRejected] [varchar](70) NULL,
	[ManagerID] [int] NULL,
	[EntryTypeID] [int] NOT NULL CONSTRAINT [DF_PaidTimeOff_EntryTyepID]  DEFAULT ((2)),
 CONSTRAINT [PK_PaidTimeOff] PRIMARY KEY CLUSTERED 
(
	[PtoRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PayRates]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayRates](
	[EmpID] [int] NOT NULL,
	[YearlySalary] [smallmoney] NULL,
	[MonthlySalary] [smallmoney] NULL,
	[HourlyRate] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TimeSheet]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSheet](
	[TimesheetId] [int] IDENTITY(1,1) NOT NULL,
	[DateOfTimesheet] [datetime] NOT NULL,
	[TotalHoursByDay] [decimal](4, 2) NOT NULL,
	[EmpId] [int] NOT NULL,
	[PtoRequestID] [int] NULL,
	[EntryTypeID] [int] NOT NULL CONSTRAINT [DF_TimeSheet_EntryTypeID]  DEFAULT ((1)),
 CONSTRAINT [PK_TimeSheet] PRIMARY KEY CLUSTERED 
(
	[TimesheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CurrentProducts] ON 

INSERT [dbo].[CurrentProducts] ([ProductID], [ProductName], [RetailPrice], [OriginationDate], [ToBeDeleted], [Category]) VALUES (1, N'Underwater Tour 1 Day West Coast', 61.4830, CAST(N'2009-05-07 13:33:09.957' AS DateTime), 1, N'No-Stay')
INSERT [dbo].[CurrentProducts] ([ProductID], [ProductName], [RetailPrice], [OriginationDate], [ToBeDeleted], [Category]) VALUES (2, N'Underwater Tour 2 Days West Coast', 110.6694, CAST(N'2010-06-29 23:43:22.813' AS DateTime), 0, N'Overnight-Stay')
INSERT [dbo].[CurrentProducts] ([ProductID], [ProductName], [RetailPrice], [OriginationDate], [ToBeDeleted], [Category]) VALUES (3, N'Underwater Tour 3 Days West Coast', 184.4490, CAST(N'2012-02-03 16:07:49.900' AS DateTime), 0, N'Medium-Stay')
GO
SET IDENTITY_INSERT [dbo].[CurrentProducts] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (1, N'Human Resources')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (2, N'Marketing')
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName]) VALUES (3, N'IT')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmpID], [LastName], [FirstName], [HireDate], [LocationID], [ManagerID], [Status], [DepartmentID]) VALUES (1, N'Adams', N'Alex', CAST(N'2001-01-01 00:00:00.000' AS DateTime), 1, 11, N'Internal    ', 1)
INSERT [dbo].[Employee] ([EmpID], [LastName], [FirstName], [HireDate], [LocationID], [ManagerID], [Status], [DepartmentID]) VALUES (2, N'Brown', N'Barry', CAST(N'2002-08-12 00:00:00.000' AS DateTime), 1, 11, N'Internal    ', 1)
INSERT [dbo].[Employee] ([EmpID], [LastName], [FirstName], [HireDate], [LocationID], [ManagerID], [Status], [DepartmentID]) VALUES (3, N'Osako', N'Lee', CAST(N'1999-09-01 00:00:00.000' AS DateTime), 2, 11, N'Internal    ', 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[EntryType] ON 

INSERT [dbo].[EntryType] ([EntryTypeID], [EntryTypeName]) VALUES (1, N'Timesheet')
INSERT [dbo].[EntryType] ([EntryTypeID], [EntryTypeName]) VALUES (2, N'Paid Time Off')
SET IDENTITY_INSERT [dbo].[EntryType] OFF
INSERT [dbo].[Grant] ([GrantID], [GrantName], [EmpID], [Amount]) VALUES (N'001', N'92 Purr_Scents %% team', 7, 4750.0000)
INSERT [dbo].[Grant] ([GrantID], [GrantName], [EmpID], [Amount]) VALUES (N'002', N'K_Land fund trust', 2, 15750.0000)
INSERT [dbo].[Grant] ([GrantID], [GrantName], [EmpID], [Amount]) VALUES (N'003', N'Robert@BigStarBank.com', 7, 18100.0000)
INSERT [dbo].[Location] ([LocationID], [Street], [City], [State]) VALUES (1, N'111 First ST', N'Seattle', N'WA')
INSERT [dbo].[Location] ([LocationID], [Street], [City], [State]) VALUES (2, N'222 Second AVE', N'Boston', N'MA')
INSERT [dbo].[Location] ([LocationID], [Street], [City], [State]) VALUES (3, N'333 Third PL', N'Chicago', N'IL')
SET IDENTITY_INSERT [dbo].[MgmtTraining] ON 

INSERT [dbo].[MgmtTraining] ([ClassID], [ClassName], [ClassDurationHours]) VALUES (1, N'Embracing Diversity', 12)
INSERT [dbo].[MgmtTraining] ([ClassID], [ClassName], [ClassDurationHours]) VALUES (2, N'Interviewing', 6)
INSERT [dbo].[MgmtTraining] ([ClassID], [ClassName], [ClassDurationHours]) VALUES (3, N'Difficult Negotiations', 30)
SET IDENTITY_INSERT [dbo].[MgmtTraining] OFF
SET IDENTITY_INSERT [dbo].[PaidTimeOff] ON 

INSERT [dbo].[PaidTimeOff] ([PtoRequestID], [ptoStatus], [EmpID], [HoursRequested], [Date], [ReasonRejected], [ManagerID], [EntryTypeID]) VALUES (1, N'Submitted', 6, 4, CAST(N'2015-07-21 00:00:00.000' AS DateTime), NULL, NULL, 2)
INSERT [dbo].[PaidTimeOff] ([PtoRequestID], [ptoStatus], [EmpID], [HoursRequested], [Date], [ReasonRejected], [ManagerID], [EntryTypeID]) VALUES (2, N'Submitted', 7, 4, CAST(N'2015-07-21 00:00:00.000' AS DateTime), NULL, NULL, 2)
INSERT [dbo].[PaidTimeOff] ([PtoRequestID], [ptoStatus], [EmpID], [HoursRequested], [Date], [ReasonRejected], [ManagerID], [EntryTypeID]) VALUES (3, N'Submitted', 4, 4, CAST(N'2015-07-21 00:00:00.000' AS DateTime), NULL, NULL, 2)
SET IDENTITY_INSERT [dbo].[PaidTimeOff] OFF
INSERT [dbo].[PayRates] ([EmpID], [YearlySalary], [MonthlySalary], [HourlyRate]) VALUES (1, 75000.0000, NULL, NULL)
INSERT [dbo].[PayRates] ([EmpID], [YearlySalary], [MonthlySalary], [HourlyRate]) VALUES (2, 78000.0000, NULL, NULL)
INSERT [dbo].[PayRates] ([EmpID], [YearlySalary], [MonthlySalary], [HourlyRate]) VALUES (3, NULL, NULL, 45.0000)
SET IDENTITY_INSERT [dbo].[TimeSheet] ON 

INSERT [dbo].[TimeSheet] ([TimesheetId], [DateOfTimesheet], [TotalHoursByDay], [EmpId], [PtoRequestID], [EntryTypeID]) VALUES (3, CAST(N'2015-07-12 00:00:00.000' AS DateTime), CAST(8.00 AS Decimal(4, 2)), 6, NULL, 1)
INSERT [dbo].[TimeSheet] ([TimesheetId], [DateOfTimesheet], [TotalHoursByDay], [EmpId], [PtoRequestID], [EntryTypeID]) VALUES (4, CAST(N'2015-07-11 00:00:00.000' AS DateTime), CAST(8.00 AS Decimal(4, 2)), 6, NULL, 1)
INSERT [dbo].[TimeSheet] ([TimesheetId], [DateOfTimesheet], [TotalHoursByDay], [EmpId], [PtoRequestID], [EntryTypeID]) VALUES (5, CAST(N'2015-07-15 00:00:00.000' AS DateTime), CAST(8.00 AS Decimal(4, 2)), 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[TimeSheet] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Grant__E5621B9A5AFBF46B]    Script Date: 8/23/15 11:56:24 AM ******/
ALTER TABLE [dbo].[Grant] ADD UNIQUE NONCLUSTERED 
(
	[GrantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Location__E7FEA476FA34FC78]    Script Date: 8/23/15 11:56:24 AM ******/
ALTER TABLE [dbo].[Location] ADD UNIQUE NONCLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Departments] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Departments]
GO
ALTER TABLE [dbo].[PaidTimeOff]  WITH CHECK ADD  CONSTRAINT [FK_PaidTimeOff_Employee] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employee] ([EmpID])
GO
ALTER TABLE [dbo].[PaidTimeOff] CHECK CONSTRAINT [FK_PaidTimeOff_Employee]
GO
ALTER TABLE [dbo].[PaidTimeOff]  WITH CHECK ADD  CONSTRAINT [FK_PaidTimeOff_EntryType] FOREIGN KEY([EntryTypeID])
REFERENCES [dbo].[EntryType] ([EntryTypeID])
GO
ALTER TABLE [dbo].[PaidTimeOff] CHECK CONSTRAINT [FK_PaidTimeOff_EntryType]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_Employee] FOREIGN KEY([EmpId])
REFERENCES [dbo].[Employee] ([EmpID])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_Employee]
GO
ALTER TABLE [dbo].[TimeSheet]  WITH CHECK ADD  CONSTRAINT [FK_TimeSheet_EntryType] FOREIGN KEY([EntryTypeID])
REFERENCES [dbo].[EntryType] ([EntryTypeID])
GO
ALTER TABLE [dbo].[TimeSheet] CHECK CONSTRAINT [FK_TimeSheet_EntryType]
GO
/****** Object:  StoredProcedure [dbo].[CreateDepartment]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CreateDepartment] 
(
@dptName nvarchar(50)
)
as

insert into Departments(DepartmentName)
Values(@dptName)
GO
/****** Object:  StoredProcedure [dbo].[GenerateListOfMngrs]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GenerateListOfMngrs]
as
select distinct e.FirstName + ' ' + e.LastName as [ManagerName], e.EmpID
from Employee e
	inner join Employee em
	on e.EmpID = em.ManagerID

GO
/****** Object:  StoredProcedure [dbo].[GenerateManagerList]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GenerateManagerList]
As
SELECT m.EmpID,m.FirstName  + ' ' + m.LastName as [EmployeeName], e.FirstName  + ' ' + e.LastName as [ManagerName], e.EmpID as [ManagerId] 
FROM Employee e INNER JOIN Employee M on e.EmpID = m.ManagerID ORDER BY m.ManagerID

GO
/****** Object:  StoredProcedure [dbo].[GetEmployee]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetEmployee]
(
	@EmployeeID int
)AS

SELECT *
FROM Employee
WHERE EmpID = @EmployeeID

GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEmployee]
(
	@FirstName varchar(20),
	@LastName varchar(30),
	@EmpId int output
)AS

BEGIN
	INSERT INTO Employee (FirstName, LastName)
	VALUES (@FirstName, @LastName)

	SET @EmpId = SCOPE_IDENTITY();
END

GO
/****** Object:  StoredProcedure [dbo].[spGetEmployeeLastAndState]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[spGetEmployeeLastAndState]
@eid char(3)
as
select e.Lastname, a.state
from Employee as e inner join Location as a
on e.LocationID = a.LocationID
where e.LocationID = @eid


GO
/****** Object:  StoredProcedure [dbo].[SubmitNewTimeSheet]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[SubmitNewTimeSheet]
(
@dateOfSheet date,
@totalHrsThatDay int,
@empId int
)
as

insert into TimeSheet(DateOfTimesheet,TotalHoursByDay,EmpId)
Values(@dateOfSheet,@totalHrsThatDay, @empId)




GO
/****** Object:  StoredProcedure [dbo].[SubmitPtoRequest]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SubmitPtoRequest]
( 
@EmpId int,
@HoursRequested int,
@Date datetime
)

as
insert into PaidTimeOff(EmpID,HoursRequested,[Date], ptoStatus)
values(@EmpId,@HoursRequested,@Date, 'Submitted')


GO
/****** Object:  StoredProcedure [dbo].[TimeTrackerSummary]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[TimeTrackerSummary]
(
@empID int
)
as

select TimeSheet.TimesheetId, TimeSheet.DateOfTimesheet, TimeSheet.TotalHoursByDay, TimeSheet.EmpId, et.EntryTypeName
from TimeSheet
inner join Employee on TimeSheet.EmpId = Employee.EmpID
inner join EntryType et on et.EntryTypeID = TimeSheet.EntryTypeID
where TimeSheet.EmpId = @empID
order by DateOfTimesheet desc


GO
/****** Object:  StoredProcedure [dbo].[TotalHoursWorked]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[TotalHoursWorked]
(
	@employeeID int
)AS


Select SUM(TotalHoursByDay) as TotalHoursWorked
From TimeSheet t
	INNER JOIN Employee e
	ON t.EmpId = e.EmpID
WHERE t.EmpId =@employeeID
group by t.EmpId, e.FirstName, e.LastName



GO
/****** Object:  StoredProcedure [dbo].[UpdateDepartment]    Script Date: 8/23/15 11:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateDepartment]
(
@dptName nvarchar(50),
@dptId int
)
as

update Departments
set DepartmentName = @dptName
where DepartmentID = @dptId
GO
USE [master]
GO
