@model SGCorpHR.Models.Response<List<SGCorpHR.Models.Resumes>>


@{
    Layout = @"~\Views\Shared\_Layout.cshtml";
    ViewBag.Title = "Index"; 
}



<div>



    <h2>Welcome to the SGCorp HR Portal</h2>
    <h4>View and upload resumes, suggestions, and policy documents</h4>
    
</div>